In [17]:
import json
import re

In [ ]:
basics = ['abstraction','encapsulation','inheritance','polymorphism','string handling','multithreading','access modifiers','exception handling','generics']
advanced = ['servlet','hibernate','struts','SOAP','REST','MVC','ORM','AOP','JSP','JDBC']

In [8]:
import pandas as pd
data=pd.read_json("/home/dell/Desktop/Datasets Code/cand.json")
data

,Description,Experience,Name,Qualification,Speciality
0,"I have worked on ORM,ASP and Hibernate.",2,Amit Kumar,B.E,Java
1,I have learned SOAP and REST frameworks.,1,Neha Sharma,B.E,Java
2,I have learned Keras and Seaborn.,2,Kishor Kumar,B.E,Python
3,I have worked on Hibernate.,2,Vishal Singh,B.E,Java
4,"I have worked on ORM,ASP,Hibernate and Servlet.",2,Pooja Ingle,B.E,java

In [ ]:
def comp:
    for i in range:
        if(Speciality[i]=='Java'||'java'):
            s=Description[i]
            for line in s:
                for word in basics:
                    match=re.findall(word,line['body'])
                    print(match)

In [19]:
rank1=0
def finding(basics):
     with open("cand.json","rb") as f:
        data = json.load(f)
        for line in data:
            for word in basics:
                match = re.findall(word,line['body'])
                if match:
                    rank1+=1
                    print(rank1)

In [18]:
rank2=0
def finding(advanced):
     with open("cand.json","rb") as f:
        data = json.load(f)
        for line in data:
            for word in advanced:
                match = re.findall(word,line['body'])
                if match:
                    rank2+=2
            print(rank2)

In [20]:
print(rank1+rank2)

0